body {
  margin: 0;
  margin-top: 60px;
  padding: 0;
  /* background-color: #f0f0f0; */
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}


h3 {
  color: rgba(255,255,255,0.9);
  margin-bottom: 5px;
}

.cut-topmargin {
  margin-top: 0px;
}

.cut-topmargin-2 {
  position: relative;
  margin-top: -6px;
  left: -1px;
  text-align: center;
}

.cut-topmargin-3 {
  position: absolute;
  top: 150px;
  left: 31px;
  margin-top: 26px;
  /* left: 8px; */
  font-size: .8rem;
}

.align-leftmargin {
  margin-left: 7px;
}

.none {
  display: none !important;
}

.no-dec {
    text-decoration: none;
}

.white {
  color: white;
}
